//NexaRegular
@font-face {
  font-family: NexaRegular;
  src: url("../fonts/Fontfabric-NexaRegular.otf");
}

//Nexa-Heavy
@font-face {
  font-family: Nexa-Heavy;
  src: url("../fonts/Nexa-Heavy.otf");
}

//Cabin-Regular
@font-face {
  font-family: Cabin-Regular;
  src: url("../fonts/Cabin-Regular.otf");
}

//Belinda font
@font-face {
  font-family: myBelinda;
  src: url("../fonts/belinda.otf");
}

//Lato-Bold, Lato-Light, Lato-HairlineItalic, Lato-Hairline,TimesNewRomanPS-BoldItalicMT, Lato-Regular, AdobeInvisFont, MyriadPro-Regular;

// font-family: TimesNewRomanPS-BoldItalicMT, AdobeInvisFont, MyriadPro-Regular;
// font-family: Lato-HairlineItalic, Lato-Hairline, AdobeInvisFont, MyriadPro-Regular;
// font-family: Lato-Regular, Lato-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
