.browse {
  margin: 60px 0 40px 0;

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }
  &__heading {
    text-align: center;
    margin: 0 0 30px;
  }

  &__container-test {
    display: flex;
    text-align: center;
  }

  &__recipes {
    font-family: TimesNewRomanPS-BoldItalicMT, AdobeInvisFont, MyriadPro-Regular;
    font-size: 12px;
  }

  &__cousine {
    font-family: $heading-font-stack;
    font-size: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-sub {
      margin: 2px;
      color: $white;
    }
  }

  &__link {
    text-decoration: none;
    &:hover {
      filter: brightness(50%);
      transition: all 1s ease;
    }
  }

  &__1 {
    background: url("../assets/img/food-1.png") center/cover no-repeat;
    width: 20vw;
    height: 15vw;
  }

  &__2 {
    background: url("../assets/img/food-2.png") center/cover no-repeat;
    width: 20vw;
    height: 15vw;
  }

  &__3 {
    background: url("../assets/img/food-3.png") center/cover no-repeat;
    width: 20vw;
    height: 15vw;
  }

  &__4 {
    background: url("../assets/img/food-4.png") center/cover no-repeat;
    width: 20vw;
    height: 15vw;
  }

  &__5 {
    background: url("../assets/img/food-5.png") center/cover no-repeat;
    width: 20vw;
    height: 15vw;
  }

  &__6 {
    background: url("../assets/img/food-6.png") center/cover no-repeat;
    width: 20vw;
    height: 15vw;
  }

  &__7 {
    background: url("../assets/img/food-7.png") center/cover no-repeat;
    width: 20vw;
    height: 15vw;
  }

  &__8 {
    background: url("../assets/img/food-8.png") center/cover no-repeat;
    width: 20vw;
    height: 15vw;
  }

  &__9 {
    background: url("../assets/img/food-9.png") center/cover no-repeat;
    width: 20vw;
    height: 15vw;
  }

  &__10 {
    background: url("../assets/img/food-10.png") center/cover no-repeat;
    width: 20vw;
    height: 15vw;
  }

  @include extra-large-break-point {
    &__cousine {
      font-size: 20px;
    }
  }

  @include large-break-point {
    &__container-test {
      display: block;
      margin: 0 10vw 0 10vw;
    }

    &__cousine {
      font-size: 40px;
    }

    &__1 {
      width: 80vw;
      height: 55vw;
      margin-bottom: 20px;
    }

    &__2 {
      width: 80vw;
      height: 55vw;
      margin-bottom: 20px;
    }

    &__3 {
      width: 80vw;
      height: 55vw;
      margin-bottom: 20px;
    }

    &__4 {
      width: 80vw;
      height: 55vw;
      margin-bottom: 20px;
    }

    &__5 {
      width: 80vw;
      height: 55vw;
      margin-bottom: 20px;
    }

    &__6 {
      width: 80vw;
      height: 55vw;
      margin-bottom: 20px;
    }

    &__7 {
      width: 80vw;
      height: 55vw;
      margin-bottom: 20px;
    }

    &__8 {
      width: 80vw;
      height: 55vw;
      margin-bottom: 20px;
    }

    &__9 {
      width: 80vw;
      height: 55vw;
      margin-bottom: 20px;
    }

    &__10 {
      width: 80vw;
      height: 55vw;
    }
  }
}
