.reviews {
  background-blend-mode: overlay;
  background: $reviews-color url("../assets/img/review-bg.png") center no-repeat;
  text-align: center;
  color: $white;
  padding: 60px 0 60px;

  &__image {
    max-block-size: 100px;
  }

  &__dot {
    font-size: 10px;
    padding: 2px;
    opacity: 0.2;
    &_active {
      opacity: 1;
    }
  }

  &__link {
    &:visited {
      color: $white;
    }
    &:hover {
      color: darken($white, 20%);
    }
  }

  &__text {
    font-family: Lato-Light, AdobeInvisFont, MyriadPro-Regular;
    opacity: 0.5;
  }

  &__author {
    font-family: Lato-HairlineItalic, Lato-Hairline, AdobeInvisFont,
      MyriadPro-Regular;
    opacity: 0.5;
  }

  @include large-break-point {
    padding: 40px 0 40px;
  }
}
